<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coo.m.mark"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name="com.coo.m.mark.Application"
        android:allowBackup="true"
        android:icon="@drawable/mark_64"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.coo.m.sys.SysWelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.coo.m.sys.SysMainActivity" />
        <activity android:name="com.coo.m.sys.SysVersionActivity" />
        <activity android:name="com.coo.m.sys.SysAboutActivity" />
        <activity android:name="com.coo.m.sys.SysLoginActivity" />
        <activity android:name="com.coo.m.sys.SysRegisterActivity" />
        <activity android:name="com.coo.m.mark.MarkHisActivity" />
        <activity android:name="com.coo.m.mark.MarkCreateActivity" />
    </application>

</manifest>